@import "tailwindcss";


@font-face {
    font-family: "Cera Pro";
    src: url("../assets/fonts/Demo_Fonts/Fontspring-DEMO-cerapro-regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }
  
/* @font-face {
  font-family: "Cera Pro";
  src: url("../assets/fonts/Demo_Fonts/Fontspring-DEMO-cerapro-regular.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
} */
  


:root {
}

@theme inline {
}


body {
    font-family: "Cera Pro";
}



.container {
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}

.banner__swiper .swiper-pagination-bullet-active{
  background-color: #46a358;
}


button {
  cursor: pointer;
}